<%= stylesheet_link_tag    'registration', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"form-signin" }) do |f| %>
  <img class="mb-4" src="" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Forgot your password? </h1>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<%= render "devise/shared/links" %>

<% end %>
