<%= stylesheet_link_tag    'registration', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= form_for(@trans, url: transactions_path, html: { class:"form-signin"} ) do |f| %>

	<h3>Transfer</h3>

  <div class="field">
      <%= error_messages_for @trans %>
  </div>

  <div class="field">
    <%= f.label :Destination %><br />
    <%= f.select :to_id, options_for_select(current_account.destinations), class:"form-control" ,placeholder: "email", required: :autofocus %>
  </div>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, autofocus: true, autocomplete: "off", class:"form-control" ,placeholder: "Amount", required: :autofocus %>
  </div>


  <div class="actions">
    <%= f.submit "Transfer", class: "btn btn-lg btn-primary btn-block" %>
  </div>


<% end -%>
